.jumbotron{
    padding-top: 10px;
    background-color: #474E5D; 
    background: url("images/yogurt.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    height: 100px;
    font-family: 'Gloria Hallelujah', cursive;
    height: 300px;     
}

.head{
    font-family: normal ;
    font-weight: normal;
    color: red;
    font-family: 'Pacifico', cursive; 
    margin-left: 600px;
    margin-right: 600px;
    font-size: 80px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.erreur {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.vignette {
    height: 400px;
}
.thumbnail img {
    height: 200px;
    margin-top:20px;
    border: 2px solid grey;
}
.caption {
    height: 120px;
}
img.nutrigrade {
    height:40px;
    margin-top:-10px;
    border:0px;
}