.jumbotron{
    padding-top: 10px;
    background-color: #474E5D; 
    background: url("images/yogurt.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    height: 100px;
    height: 300px;     
}

h1 {
    margin-top: 100px;
    font-family: 'Baloo Bhaina', cursive;
    text-align: center;
    text-shadow: 0 0 100px white;
}

h1 small {
    color: black;
}

h2 {
    text-align: center;
    padding-bottom: 25px;
}

body {
    font-family: 'Nunito', sans-serif;
}

.erreur {
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.vignette {
    height: 400px;
}
.thumbnail img {
    height: 200px;
    margin-top:20px;
}
.caption {
    height: 120px;
}
img.nutrigrade {
    height:40px;
    margin-top:-10px;
    border:0px;
}

.retour{
    padding-top: 40px;
}